.e-two-meal-description-button {
  appearance: none;
  padding: 3%;
  width: 50%;
  background: inherit;
  color: inherit;
  font-size: 1.4rem;
  font-family: inherit;
  border: none;
  cursor: pointer;
}

.e-two-meal-description-button:hover {
  background: var(--carbon-black);
  color: var(--snow-white);
}

.e-two-meal-description-button:first-child {
  border-right: 1px solid var(--carbon-black);
}

.e-two-meal-description-button:last-child {
  border-left: 1px solid var(--carbon-black);
}
