.e-one-user-profile-picture {
  min-width: 250px;
  min-height: 250px;
}

.e-one-user-profile-picture > * > * {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  box-shadow: 1px 1px 5px 1px var(--carbon-black);
}
